@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-albert-sans;
  }
}

:root {
  --primary: #1a1a1a;
  --secondary: #f4f4f4;
  --accent: #ff4d4d;
  --white: #ffffff;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
